<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redsquirrel.neogrifter.notifikation" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".GlobalActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".UpdateActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/MyAppTheme" >
        </activity>

        <service android:name=".service.PlanifService" />
        <service android:name=".service.DisplayNotificationService" />
    </application>

</manifest>
